.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px; 
}

.thumbnail{
    width:100%;
    object-fit: cover;
    margin-bottom: 12px;
}
.video-title{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 8px;
}
.channel-pic{
    width:45px;
}
.channel-pic .dp{
    width:100%;
    object-fit: cover;
    border-radius: 50%;
}
.video-info{
    display:grid;
    grid-template-columns: 45px 1fr;
    column-gap: 12px;
   }
   
.video-stats,.video-author{
    font-size:12px;
    margin-top:5px;
    color:grey;
}
